# Date and Time

Pandas allow us to extract information from the timestamp, such as:
# Day Of the Week
# Weekend and Weekdays
# AM vs PM

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
year=2023
month=3
date=4
hour=4
minuts=35
sec=23

In [3]:
mydate=datetime(year,month,date)

In [4]:
mydate

datetime.datetime(2023, 3, 4, 0, 0)

In [5]:
mydatetime=datetime(year,month,date, hour,minuts, sec)

In [6]:
mydatetime

datetime.datetime(2023, 3, 4, 4, 35, 23)

In [7]:
mydatetime.year

2023

In [8]:
mydatetime.day

4

In [12]:
myser=pd.Series(['Nov 3 2000','2003-4-12',None])

In [13]:
myser

0    Nov 3 2000
1     2003-4-12
2          None
dtype: object

In [14]:
myser.datetime()

AttributeError: 'Series' object has no attribute 'datetime'

In [16]:
timeser=pd.to_datetime(myser)

In [17]:
timeser

0   2000-11-03
1   2003-04-12
2          NaT
dtype: datetime64[ns]

In [18]:
timeser[0]

Timestamp('2000-11-03 00:00:00')

In [22]:
timeser[0].year

2000

In [23]:
obi_euro_date='31-12-1990'

In [26]:
dd=pd.to_datetime(obi_euro_date)

In [27]:
dd

Timestamp('1990-12-31 00:00:00')

In [28]:
dd.year

1990

In [29]:
dd.month

12

In [30]:
indian_date='10-12-2002'

In [31]:
pd.to_datetime(indian_date)

Timestamp('2002-10-12 00:00:00')

In [32]:
pd.to_datetime(indian_date,dayfirst=True)

Timestamp('2002-12-10 00:00:00')