In [2]:
import numpy as np
import pandas as pd

In [3]:
np.random.seed(101)
mydata=np.random.randint(0,101,(4,3))

In [4]:
mydata

array([[95, 11, 81],
       [70, 63, 87],
       [75,  9, 77],
       [40,  4, 63]])

In [5]:
myindex=['CA','NY','AZ','TX']

In [6]:
mycolumns=['Feb','Mar','April']

In [7]:
df=pd.DataFrame(mydata)

In [8]:
df

    0   1   2
0  95  11  81
1  70  63  87
2  75   9  77
3  40   4  63

In [9]:
df=pd.DataFrame(mydata,myindex)

In [10]:
df

     0   1   2
CA  95  11  81
NY  70  63  87
AZ  75   9  77
TX  40   4  63

In [ ]:
df=pd.DataFrame(mydata,myindex,m)