# Text Methods

Often text data needs to be cleaned or manipulated for processing

While we can always use a custom apply() function for these tasks, pandas comes with many built-in string methados calls.

In [1]:
import numpy as np
import pandas as pd

In [2]:
email='vishalsharma@email.com'

In [3]:
email.split('@')

['vishalsharma', 'email.com']

In [4]:
name=pd.Series(['Vishal','Sharma','Vishant','Sharmaji','7'])

In [5]:
name

0      Vishal
1      Sharma
2     Vishant
3    Sharmaji
4           7
dtype: object

In [6]:
name.str.upper()

0      VISHAL
1      SHARMA
2     VISHANT
3    SHARMAJI
4           7
dtype: object

In [7]:
name.str.isdigit()

0    False
1    False
2    False
3    False
4     True
dtype: bool

In [8]:
seprate_the_string=['GOOG,APPL,AMZN','JPM,BAC,GS']

In [9]:
len(seprate_the_string)

2

In [10]:
tikers=pd.Series(seprate_the_string)

In [11]:
tikers

0    GOOG,APPL,AMZN
1        JPM,BAC,GS
dtype: object

In [12]:
tikers.str.split(',')

0    [GOOG, APPL, AMZN]
1        [JPM, BAC, GS]
dtype: object

In [13]:
xx=tikers.str.split(',')

In [14]:
xx[0]

['GOOG', 'APPL', 'AMZN']

In [15]:
tikers.str.split(',', expand=True)

      0     1     2
0  GOOG  APPL  AMZN
1   JPM   BAC    GS

In [19]:
any_ser=pd.Series(['aplle   ','ban;ana',' pinapple  '])

In [20]:
any_ser

0       aplle
1        ban;ana
2     pinapple
dtype: object

In [22]:
any_ser.str.replace(';','').str.strip()

0       aplle
1      banana
2    pinapple
dtype: object